.help-container {
  background-color: rgba(255, 255, 255, 0.5);
  border: solid 5px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  height: 320px;
  left: 50%;
  line-height: 1.6;
  padding: 25px;
  position: fixed;
  text-align: left;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
}

.loaded-image {
	align-self: center;
	display: inline-flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}

.microscope {
	text-align: center;
}

.pannable {
	&:hover {
		cursor: grab;
	}
	&:active {
		cursor: grabbing;
	}
}

.splash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.splash-image {
  align-self: center;
  height: 25vh;
  opacity: 0.2;
  transition: 0.1s ease-in-out;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}


.splash-title {
  color: #FFFFFF;
  cursor: default;
  font-size: 1.5em;
  margin-top: 1.5em;
  opacity: 0.2;
  transition: 0.15s ease-in-out;
}

::-webkit-scrollbar
{
    width: 0px;
}
