.microscope {
  text-align: center; }

.splash {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100vh; }

.splash-image {
  align-self: center;
  height: 25vh;
  opacity: 0.5; }

.splash-title {
  color: rgba(255, 255, 255, 0.5);
  font-size: 1.5em;
  margin-top: 1.5em; }
